.box1{
    border-style: dashed;
    border-width: 5px;
    border-color: blue;
    padding:20px;
    margin:15px;
}
.box2{
    border-style:dotted;
    border-width: 2px;
    border-color: brown;
    padding:20px;
    margin:15px;
}
.box3{
    border-style: double;
    border-width:3px;
    border-color: aqua;
    padding:20px;
    margin:15px;
}
.box4{
    border:3px solid green;
    padding:20px;
    margin:15px;
}